*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: centers;
}
.resultPrint{
    display: none;
    background-color: black;
    color: white;
    padding: 20px;
}